<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bf89686d-1aca-4682-aa5d-1da83947d1bb/resourcegroups/Codelife20210318035000ResourceGroup/providers/Microsoft.Web/sites/Codelife</ResourceId>
    <ResourceGroup>Codelife20210318035000ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://codelife.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>codelife.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Codelife</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Codelife</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CodelifeDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=codelife.database.windows.net;Initial Catalog=Codelife;Persist Security Info=True;User ID=codelife;Password=Admin_123" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Codelife.Data.CodelifeDbContext, Codelife" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CodelifeDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.CodelifeDbContext.csdl|res://*/Data.CodelifeDbContext.ssdl|res://*/Data.CodelifeDbContext.msl;provider=System.Data.SqlClient;provider connection string="Data Source=codelife.database.windows.net;Initial Catalog=Codelife;Persist Security Info=True;User ID=codelife;Password=Admin_123"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>