
@{
    ViewBag.Title = "Login - Codelife";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image-login"></div>

        <!-- The content half -->
        <div class="col-md-6">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">

                            <p class="text-muted text-capitalize mb-4">Welcome</p>
 
                            <form>
                                <div class="form-group mb-3">
                                    <input id="email" type="email" placeholder="Email address" autofocus="" name="email" class="form-control py-4" onkeyup = "return ValidateEmail(event)" onmouseout= "return validateForm(event)" data-field="input">
                                    <p id="errorEmail" class="form-text text-danger d-none" style="font-size: smaller;" data-error="error">Email Not Valid</p>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="password" type="password" placeholder="Password"  name="password" class="form-control py-4" onkeyup = "return ValidatePassword(event)" onmouseout= "return validateForm(event)" data-field="input">
                                    <p id="errorPassword" class="form-text text-danger d-none" style="font-size: smaller;" data-error="error">Password must be more than 6 digits</p>
                                </div>

                                <button type="button" id="loginBtn" class="btn btn-theme btn-lg btn-block mb-2 shadow-sm py-2" onclick="Login()" disabled>Login</button>
                            </form>

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>


<script type="text/javascript">

    var isEmailValid = false;
    var isPasswordValid = false;
    var isFormValid = false;

    function ValidateEmail(e) {
        var email = e.target.value;

        if (!isEmail(email)) {
            $('#errorEmail').removeClass("d-none");
            isEmailValid = false;

        } else {
            $('#errorEmail').addClass("d-none");
            isEmailValid = true;
        }
    }

    function ValidatePassword(e) {
        var password = e.target.value;

        if (password.length < 6) {
            $('#errorPassword').removeClass("d-none");
            isPasswordValid = false;
        } else {
            $('#errorPassword').addClass("d-none");
            isPasswordValid = true;
        }
    }


    function validateForm(e) {
        var inputField = e.target;
        var inputValue = inputField.value;

        var ErrorFields = $('[data-error="error"]');
        var inputFields = $('[data-field="input"]');

        var errors = new Array();
        var i;
        var x;

        //check if any input is null
        for (x = 0; x < inputFields.length; ++x) {

            var field = inputFields[x];
            var value = field.value

            if (!value) {
                errors.push(false);
            } else {
                errors.push(true);
            }

        }

        //Loop through Error Fields and check for errors
        for (i = 0; i < ErrorFields.length; ++i) {

            var field = $(ErrorFields[i]).hasClass("d-none");
            errors.push(field);
        }


        $("#loginBtn").attr("disabled", true);

        if (isEmailValid && isPasswordValid) {
            isFormValid = true;
        }


        if (isFormValid && !errors.includes(false)) {
            $("#loginBtn").attr("disabled", false);
        }
    }


    function Login() {
        $('#loader').removeClass("d-none");
        $("#loginBtn").attr("disabled", true);
        var email = $('#email').val();
        var password = $('#password').val();

 
        var dataObject = JSON.stringify({
            "email": email,
            "password": password,
        });


        $.ajax({
            type: "POST",
            url: '../Account/Login',
            data: dataObject,
            contentType: 'application/json',
            success: onSuccessCall
        });

        function onSuccessCall(data) {
            if (data.success) {
                $('#loader').addClass("d-none");
                window.location = "../Home/Index";

                //$('#redirectSuccessMessage').text(data.message);
                //$('#alertRedirect').removeClass("d-none");
                //$('#alertRedirect').addClass("show");


                //countDown(5, "../Home/Index", "#redirectMessage", "Home");
                return;
            } else {
                $('#loader').addClass("d-none");

                $('#failMessage').text(data.message);
                $('#alertFail').removeClass("d-none");
                $('#alertFail').addClass("show");
                $("#loginBtn").attr("disabled", false);

                return;
            }

        }
    }


</script>
