
@{
    ViewBag.Title = "Register - Codelife";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

        <!-- The content half -->
        <div class="col-md-6">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">

                            <p class="text-muted text-capitalize mb-4">Start your Journey with us For Free</p>

                            <form>
                                <div class="form-group mb-3">
                                    <input id="email" type="email" placeholder="Email address" autofocus="" name="email" class="form-control" onkeyup="ValidateEmail(event); return isEmailAvailable(event);" onmouseout="return validateForm(event)" data-field="input">
                                    <p id="errorEmail" class="form-text text-danger d-none" style="font-size: smaller;" data-error="error">Email Not Valid</p>
                                    <p id="errorIsEmailAvailable" class="form-text text-danger d-none" style="font-size: smaller;" data-error="error">Email already registered</p>

                                </div>
                                <div class="form-group mb-3">
                                    <input id="password" type="password" placeholder="Password" name="password" class="form-control" onkeyup="return ValidatePassword(event)" onmouseout="return validateForm(event)" data-field="input">
                                    <p id="errorPassword" class="form-text text-danger d-none" style="font-size: smaller;" data-error="error">Password must be more than 6 digits</p>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="confirmPassword" type="password" placeholder="Confirm Password" name="confirmPassword" class="form-control" onkeyup="return ValidateConfirmPassword(event)" onmouseout="return validateForm(event)" data-field="input">
                                    <p id="errorConfirmPassword" class="form-text text-danger d-none" style="font-size: smaller;" data-error="error">Password do not Match</p>
                                </div>

                                <button type="button" id="registerBtn" class="btn btn-theme btn-lg btn-block mb-2 shadow-sm" onclick="Register()" disabled>Register</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p class="text-muted">
                                        Have an account already <a href="@Url.Action("Login" , "Account")" class="font-italic text-muted">
                                            <u>Log in</u>
                                        </a>
                                    </p>
                                </div>
                            </form>

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>


<script type="text/javascript">

    var isEmailValid = false;
    var isPasswordValid = false;
    var isConfirmPasswordValid = false;
    var isFormValid = false;
    var emailNotRegistered = false;

    function ValidateEmail(e) {
        var email = e.target.value;

        if (!isEmail(email)) {
            $('#errorEmail').removeClass("d-none");
            $('#email').removeClass("border-success");
            isEmailValid = false;

        } else {
            $('#errorEmail').addClass("d-none");
            $('#email').addClass("border-success");
            isEmailValid = true;
        }
    }

    function ValidatePassword(e) {
        var password = e.target.value;

        if (password.length < 6) {
            $('#errorPassword').removeClass("d-none");
            $('#password').removeClass("border-success");
            isPasswordValid = false;
        } else {
            $('#errorPassword').addClass("d-none");
            $('#password').addClass("border-success");
            isPasswordValid = true;
        }
    }

    function ValidateConfirmPassword(e) {
        var confirmPassword = e.target.value;
        var password = $('#password').val();

        if (confirmPassword != password) {
            $('#errorConfirmPassword').removeClass("d-none");
            $('#confirmPassword').removeClass("border-success");
            isConfirmPasswordValid = false;
        } else {
            $('#errorConfirmPassword').addClass("d-none");
            $('#confirmPassword').addClass("border-success");
            isConfirmPasswordValid = true;
        }
    }


    function isEmailAvailable() {
        var email = $('#email').val();

        $.ajax({
            type: "POST",
            url: '../Account/IsEmailAvailable?email=' + email,
            contentType: 'application/json',
            success: onSuccessCall
        });

        function onSuccessCall(data) {
            if (data.success) {
                if (data.data) {
                    $('#errorIsEmailAvailable').addClass("d-none");
                    emailNotRegistered = true;
                } else {
                    $('#errorIsEmailAvailable').removeClass("d-none");
                    $('#email').removeClass("border-success");
                    emailNotRegistered = false;
                }
                return;

            } else {
                return;
            }

        }
    };


    function validateForm(e) {
        var inputField = e.target;
        var inputValue = inputField.value;

        var ErrorFields = $('[data-error="error"]');
        var inputFields = $('[data-field="input"]');

        var errors = new Array();
        var i;
        var x;

        //check if any input is null
        for (x = 0; x < inputFields.length; ++x) {

            var field = inputFields[x];
            var value = field.value

            if (!value) {
                errors.push(false);
            } else {
                errors.push(true);
            }

        }

        //Loop through Error Fields and check for errors
        for (i = 0; i < ErrorFields.length; ++i) {

            var field = $(ErrorFields[i]).hasClass("d-none");
            errors.push(field);
        }


        $("#registerBtn").attr("disabled", true);

        if (isEmailValid && isPasswordValid && isConfirmPasswordValid && emailNotRegistered) {
            isFormValid = true;
        }


        if (isFormValid && !errors.includes(false)) {
            $("#registerBtn").attr("disabled", false);
        }
    }


    function Register() {
        $('#loader').removeClass("d-none");
        $("#registerBtn").attr("disabled", true);

        var email = $('#email').val();
        var password = $('#password').val();
        var username = emailUsername(email);
        //var dateRegistered = getTodayDate();



        var dataObject = JSON.stringify({
            "email": email,
            "password": password,
            "username": username,
            "profile": "I am " + username,
            //"dateRegistered": dateRegistered
        });



        $.ajax({
            type: "POST",
            url: '../Account/Register',
            data: dataObject,
            contentType: 'application/json',
            success: onSuccessCall
        });

        function onSuccessCall(data) {
            if (data.success) {
                $('#loader').addClass("d-none");
                $('#redirectSuccessMessage').text(data.message);
                $('#alertRedirect').removeClass("d-none");
                $('#alertRedirect').addClass("show");


                countDown(5, "../Account/LoginUser?email=" + email + "&password=" + password, "#redirectMessage", "Home");
                return;
            } else {
                $('#loader').addClass("d-none");

                $('#failMessage').text(data.message);
                $('#alertFail').removeClass("d-none");
                $('#alertFail').addClass("show");
                $("#registerBtn").attr("disabled", false);

                return;
            }

        }
    }


</script>

 